@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('../fonts/fonts.css');

/* variables - start */
:root {
    --colorDefault: #000000;
    --colorPrimary: 38, 52, 97;
    --colorSecondary: #2992c9;
    --colorRed: #d03833;
  }
/* variables - end */

/* common - start */
body {font-family: 'Roboto', sans-serif; font-size: 15px; color: var(--colorDefault);}
.container-fluid {max-width: calc(100% - 116px);}
ul {display: flex; padding-left: 0; margin-bottom: 0; list-style: none outside;}
ul.bullet-list {display: block; column-count: 3;}
ul.bullet-list li:before { content: "\2022"; color: var(--colorRed); font-weight: bold; display: inline-block; width: 1em; font-size: 24px; line-height: 1.3em; vertical-align: middle;}
a {text-decoration: none; color: inherit;}
h1, h2, h3, h4, h5, h6 {font-family: 'Roboto Condensed', sans-serif; font-weight: 700; color: rgba(var(--colorPrimary),1);}
.bg-dblue {background-color: rgba(var(--colorPrimary),1);}
.bg-red {background-color: var(--colorRed);}
.bg-lblue {background-color: #2992c9;}
.bg-gray {background-color: #cccccc;}
.text-gray {color: #cccccc;}
.text-dgray {color: #666666;}
.text-red {color: var(--colorRed);}

.btn-plain {-webkit-appearance: none; border: none; background-color: transparent; }
.btn-primary, .btn-primary:hover {background-color: rgba(var(--colorPrimary),1); border-color: rgba(var(--colorPrimary),1); font-family: 'Roboto Condensed', sans-serif; font-weight: 700; text-transform: uppercase; color: #d9d9d9;}

.tooltip > .tooltip-inner {background-color: rgba(var(--colorPrimary),0.65);}
.tooltip > .tooltip-arrow:before, .tooltip > .tooltip-arrow:after {border-left-color: rgba(var(--colorPrimary),0.65) !important;}

.tagline {font-family: 'Brush Script MT', sans-serif;}
video {display: block;}
section .section-title {text-align: center; background-color: var(--colorRed); padding: 30px 0; box-shadow: 0px 10px 30px rgba(0,0,0,0.5);}
section .section-title h2 {color: #ffffff; text-transform: uppercase; margin-bottom: 0;}
section .section-title h3 {font-weight: 400; color: #d9d9d9; margin-bottom: 0;}
section .section-title + .section-content {padding-top: 50px; padding-bottom: 50px;}
/* common - end */

/* header - start */
.top-nav {border-top: 10px solid rgba(var(--colorPrimary),1); position: fixed; left: 0; top: 0; width: 100%; z-index: 999;}
.top-nav ul {justify-content: end; font-family: 'Roboto Condensed', sans-serif; font-size: 20px; margin-top: -10px;}
.top-nav ul li a {padding: 10px 30px; color: #ffffff; display: inline-block;}
.top-nav ul li:first-child a {padding-left: 85px; border-bottom-left-radius: 60px; background: rgba(var(--colorPrimary),1) url('../images/icons/call-icon.png') no-repeat 45px center;}
.top-nav ul li:last-child a {border-bottom-right-radius: 20px;}

header .main-nav {padding-top: 50px;}
.navbar {padding: 0 0 30px;}
.navbar .navbar-brand {padding: 0; margin-right: 70px}
.navbar ul.navbar-nav li {padding: 0 var(--bs-navbar-nav-link-padding-x);}
.navbar ul.navbar-nav li a.nav-link {font-weight: 700; font-size: 22px; text-transform:uppercase; color: rgba(var(--colorPrimary),1); padding: 0;}
.navbar ul.navbar-nav li a.nav-link.active, .navbar ul.navbar-nav li a.nav-link.show {color: rgba(var(--colorPrimary),1);padding: 0;}
@media (min-width: 992px){
    .navbar ul.navbar-nav {margin-top: 38px;}
}
/* header - end */

/* footer - start */
footer {position:relative; overflow:hidden; background: #ffffff url('../images/footer-bg.jpg') no-repeat right top; background-size: auto 100%; padding: 50px 0;}
footer .content-last {text-align: right;}
footer .content-last .image {display: inline-block;position: relative; }
footer .content-last .image img {transform: translate3d(100%,0,0);}
footer.visible .content-last .image img {transform: none; transition: .9s transform;}
footer .content-last p.tagline {position: absolute; color: var(--colorRed); font-size: 2em; text-align: center; line-height: 1em; top: 15px; left: -25%;}
footer .border-start {border-color: rgba(var(--colorPrimary),1) !important;}
/* footer - end */

/* jingle - start */
#jingle {position: fixed; right: -420px; top: 190px; z-index: 999; display: flex; align-items: flex-start;  transition: .5s right;}
#jingle.expand {right: 0; transition: .5s right;}
#jingle > button {display: flex; flex-direction: column; align-items: center; padding: 15px 10px; border-radius: 20px 0 0 20px; margin-top: 50px;}
#jingle .truck > div {width: 420px; height: 164px; position: relative;}
#jingle .truck > div:first-child {border-top-left-radius: 20px;}
#jingle .truck > div:last-child {border-bottom-left-radius: 20px;}
#jingle .truck > div img {position: absolute; top: -45px; left: 50%; transform: translateX(-50%); }
#jingle .truck > div.tagline {color: var(--colorRed); font-size: 2em; padding: 15px 40px;}
/* jingle - end */

/* homepage - start */
/* hero - start */
#hero:before {content:""; display: block; position: absolute; width: 100%; height: 100%; left: 0; top: 0; background-color: rgba(var(--colorPrimary),1); opacity: 0.5;}
#hero .tagline { font-size: 70px; line-height: 60px; color: #ffffff; position: absolute; top: 60px; left: 100px; text-align: right;}
#hero .tagline span {display: block; margin-right: 100px;}
#hero .hero-left {position: absolute; padding: 15px 70px 30px 100px; left: 0; bottom: 90px; background-color: rgba(var(--colorPrimary),0.65); border-top-right-radius: 60px; border-bottom-right-radius: 60px; color: #ffffff; font-family: 'Roboto Condensed', sans-serif; font-size: 56px; }
#hero .hero-left .ts-1 {font-size: 1em;}
#hero .hero-left .ts-2 {font-size: 0.85em;}
#hero .hero-left .ts-3 {font-size: 0.68em;}
#hero .hero-right { background: url('../images/curved-white-bg.png') no-repeat left center; background-size: auto 100%; position: absolute; right: 0; top: 0; height: 100%; width: 48%; z-index: 12; padding: 10px 50px 10px 12%; display: flex; flex-direction: column; justify-content: center; color: rgba(var(--colorPrimary),1); font-family: 'Roboto Condensed', sans-serif; font-weight: 700; font-size: 43px; }
#hero .hero-right a {display: block; max-width: max-content; padding: 0 20px;}
#hero .hero-right a > span {display: block; text-align: center; font-weight: 700; line-height: 1.2;}
#hero .hero-right a > span.text-or {position: relative; margin-bottom: 15px;}
#hero .hero-right a > span.text-or:before {content:""; display: block; width: 100%; height: 100%; position: absolute; background: url('../images/rectangle-out-bg.png') no-repeat center center;}
#hero .hero-right a > span.text-more {font-size: 29px; padding-top: 15px; margin-top: 15px; border-top: 3px solid #ffffff;}
/* hero - end */

.services .items-wrap {margin-top: -50px;}
.services .item {display: block;}
.services .item .image { position: relative;}
.services .item .image:before {content:""; display: block; position: absolute; width: 50%; height: 100%; left: 0; top: 0; background-image: linear-gradient(to right, rgba(var(--colorPrimary),0.7) , transparent); border-radius: 20px 20px 0 0;}
.services .item .image img {border-radius: 20px 20px 0 0; display: block;}
.services .item .title {display: block; font-family: 'Roboto Condensed', sans-serif; font-weight: 700; font-size: 25px; color: #ffffff; text-align: center; background-color: rgba(var(--colorPrimary),1); padding: 15px 5px; border-radius: 0 0 20px 20px;}
.services.full-width {position:relative; overflow:hidden;}
.services.full-width .item {background-color: rgba(41,146,201,0.47);}
.services.full-width .item > div:first-child {position: relative; z-index: 9;}
.services.full-width .item .image:before, .services.full-width .image img {border-radius: 0;}
.services.full-width .item .content {transform: translate3d(-100%,0,0); background-color: #ffffff; height: 100%; border-radius: 0 140px 140px 0; padding: 10px 18% 10px 6%; display: flex; flex-direction: column; justify-content: center;}
.services.full-width .item.flex-row-reverse .content {transform: translate3d(100%,0,0);  border-radius: 140px 0 0 140px; padding: 10px 6% 10px 18%;}
.services.full-width .item.visible .content {transform: none; transition: .9s transform;}

.about-us {position:relative; overflow:hidden; display: flex; padding: 40px 0; background: url('../images/about-us-bg.png') no-repeat center 40px; background-size: 100% auto; position: relative;}
.about-us .image {width: 40%; position: absolute; left: -100%; top: 77px;}
.about-us.visible .image {left: 0; transition: .9s left;}
.about-us .content {padding-top: 50px;}
.about-us .about-us-text {padding: 30px 15%;}
.about-us .about-us-text .more a {color: #666666; font-weight: 500; font-style: italic; font-size: 18px;}
.commercial {display: flex; justify-content: space-between; align-items: center;}
.commercial h2 {color: #ffffff; margin-bottom: 30px;}
.commercial button.btn-plain {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -80%); border-radius: 50%;}
.commercial .modal .btn-close {display: inline-flex; align-self: flex-end; margin: 10px 10px 0 0;}

.reviews {background-color: var(--colorSecondary);}
.reviews .carousel .item { padding: 10px; text-align: center; background-color: #e4e4e4; border-radius: 22px; height: 100%;}
.reviews .carousel .item > div {padding: 15px 30px; border: 3px solid rgba(var(--colorPrimary),1); border-radius: 20px; height: 100%;}
.reviews .carousel .item blockquote {font-size: 1em;}
.reviews .carousel .item .blockquote-footer {margin-top: 0; color: rgba(var(--colorPrimary),1); }
.reviews .carousel .item .blockquote-footer:before {content: none;}
.reviews .carousel .item .blockquote-footer cite{display: block; font-weight: 700; font-size: 1.3em; font-style: normal;}

.carousel-control-prev {left: -50px; width: 30px;}
.carousel-control-next {right: -50px; width: 30px;}
.carousel-control-next-icon, .carousel-control-prev-icon {width: 30px; height: 135px;}
.carousel-control-prev-icon {background-image: url('../images/icons/carousel-left-arrow.png');}
.carousel-control-next-icon {background-image: url('../images/icons/carousel-right-arrow.png');}

.rating {margin: 15px 0;}
.rating .fa-star {font-size: 30px;}
.rating .fa-star.checked {color: #dd4c4a;}

.community {position:relative; overflow:hidden; }
.community .section-content {background: #d9d9d9 url('../images/community-bg.png') no-repeat center top; background-size: auto 100%; }
.community .content-left, .community .content-right {position: relative;}
.community .content-left {transform: translate3d(-100%,0,0);}
.community.visible .content-left, .community.visible .content-right {transform: none; transition: .9s transform;}
.community .content-right {transform: translate3d(100%,0,0); background-color: rgba(41,146,201,0.47); border-radius: 20px 0 0 20px; display: flex; justify-content: flex-end; align-items: flex-end; padding-bottom: 30px;}
.community .content-right p {position: absolute; left: 25px; top: 15px; max-width: 165px;}
.community .content-left a, .community .content-right a {position: absolute; text-transform: uppercase; font-family: 'Roboto Condensed', sans-serif; font-weight: 700; font-size: 20px; color: #d9d9d9; background-color: var(--colorRed); min-width: 180px; display: inline-block; padding: 5px 20px;}
.community .content-left a {border-radius: 0 20px 20px 0; left: calc(100% - 30px); top:20%;}
.community .content-right a {border-radius: 20px 0 0 20px; right: 100%; bottom: 20%;}

.service-area .image h4 {display: inline-block; background-color: rgba(var(--colorPrimary),1); color: #ffffff; padding: 7px 20px 7px 15px; border-top-right-radius: 20px; margin-bottom: 0;}
.service-area .image {margin-top: -120px;}
.service-area .image > div {box-shadow: 5px 5px 7px rgba(0,0,0,0.3);}
.service-area .section-content {background-color: #aedbff;}
/* homepage - end */

@media screen and (min-width: 768px) and (max-width: 1023px)  {
  
}

@media screen and (max-width: 1023px)  {
  .container-fluid {max-width: 100%;}

  header .main-nav {padding-top: 20px;}
  .navbar {flex-wrap: nowrap;}
  .navbar-toggler {background-color: var(--colorRed);}
  .top-nav {position: unset; border: none;}
  .top-nav > .container-fluid {padding: 0;}
  .top-nav ul {display: block;}
  .top-nav ul li a {display: block; text-align: center;}
  .top-nav ul li:first-child a {border-bottom-left-radius: 0; background-image: none; padding-left: 30px;}

  footer div.border-start {border: none !important; margin-top: 30px;}
  footer .content-last {margin-top: 30px;}
  footer .content-last .image img {max-width: 60%;}
  footer .content-last p.tagline {left: 0; font-size: 1.2em;}
  ul.bullet-list {column-count: 2;}

  #hero:before {content: none;}
  #hero .tagline, #hero .hero-left {display: none;}
  #hero .hero-right {position: unset; background: none; width: 100%;}
  #hero .hero-right a {max-width: 100%;}

  .about-us {background-image: none;}
  .about-us .image {display: none;}
  .about-us .content {padding-top: 0;}
  .commercial { text-align: center;}
  .commercial > div:first-child img {display: none;}
  .commercial h2 {background-color: var(--colorRed); padding: 12px;}
  .about-us .about-us-text {padding: 10px 0;}
  .reviews .carousel .col {margin-bottom: 15px;}
  .carousel-control-next, .carousel-control-prev {display: none;}
  .service-area .image {margin-top: 0; margin-bottom: 30px;}
  .community .section-title + .section-content {padding: 0;}
  .community .content-left, .community .content-right {padding: 12px;}
  .community .content-left a, .community .content-right a {display: block;; }
  .community .content-right {display: block; border-radius: 0;}
  .community .content-right > img {display: block; margin-left: auto;}
  .community .content-left a, .community .content-right a, .community .content-right p {position: unset; border-radius: 0; max-width: 100%;}

  .services .item .title {font-size: 1.1em;}
  .services.full-width .item .w-50 {width: 100% !important}
  .services.full-width .item .pe-3 {padding-right: 0 !important;}
  .services.full-width .item .ps-3 {padding-left: 0 !important;}
  .services.full-width .item .content, .services.full-width .item.flex-row-reverse .content {padding: 50px; border-radius: 0;}
}